
.form {
    display: flex;  
    flex-direction: column;  
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

input {
    width: 600px;
    padding-left: 10px;
    height: 35px;
    border: 1px solid teal;
    border-radius: 15px;
    outline: none;
    margin: 1rem;
}
select {
    padding-left: 10px;
    height: 35px;
    border: 1px solid teal;
    border-radius: 15px;
    outline: none;
    margin-left: 3.3rem;
    align-self: start;
}

p {
    margin-left: 4.3rem;
    align-self: start;
}